# @react-three/postprocessing 3.x peer-depends on @react-three/fiber 9,
# while the app is on fiber 8 (React 18) until the coordinated upgrade
# (Next 15 / React 19 / R3F 9) lands. Remove this once that upgrade ships.
legacy-peer-deps=true
